<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} – {{ site.name }}</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description | trim }}">
  {% endif %}
  <link rel="stylesheet" href="/css/test.css">
</head>
<body>
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  {{ page.content | trim | safe }}
  <footer>
    Source info:
    {% if source.is_committed %}
      Last modified: <a href="{{ source.repo_url }}/commits/master/{{ source.repo_source_path }}">{{ source.updated_date.strftime("%Y-%m-%d") }}</a>
      Contributors:
      {% for author in source.authors %}
      <a href="{{ author.url }}">{{ author.display_name }}</a>{% if not loop.last %},{% endif %}
      {% endfor %}
    {% else %}
      [uncommitted]
    {% endif %}
  </footer>
</body>
</html>
